body {
  max-width: 900px;
  margin: 0 auto;
  font-family: 'Times New Roman', Times, serif;
}

h1 {
  background: rgb(200, 202, 224);
  border: 1px solid rgb(46, 46, 85);
  padding: 8px;
  margin: 12px;
  text-align: center;
   flex: 1;
}
.menu ul{
     display: flex;
     gap:4px;
      flex: 1;
}
.menu li{
    display: inline-block;
      background: rgb(227, 227, 231);
      padding: 8px;
      border: 3px solid rgb(183, 161, 243);
      margin: 2px;
     
}
.menu a{
text-decoration: none;
 
}
h2, h3 {
   background: rgb(200, 202, 224);
  border: 1px solid rgb(46, 46, 85);
   padding: 8px;
  margin: 12px;
  text-align: center; 
}
p{
    padding: 5px;
  margin: 12px;
}
 

/* home page */
 header{
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  background-color: rgb(200, 182, 216);
 }
 
 main{
  padding: 100px ;
  background-color: aliceblue;
 }
 #pleft{
  text-align: right;
 }